<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">

            <i class="fa fa-cart-shopping text-danger"></i>
            <span class="small text-danger fw-bold">1</span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse fw-bold" id="navbarSupportedContent" style="margin-left:25vw">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 " style="font-family:MyFont">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">HOME</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link d-flex align-items-center" href="#">PRODUCTS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link d-flex align-items-center ">SERVICES</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link ">TESTIMONIALS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link ">CONTACT</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        ACCOUNT
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown" style="font-family:sans-serif">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" >Something else here</a></li>
                    </ul>
                </li>

            </ul>
            @if (ShowSearchIcon)
            {
                <button @onclick="SearchClicked" class="btn btn-none">
                    <i class="fa fa-magnifying-glass fs-5" style="cursor:pointer"></i>
                </button>
            }
            @if (ShowSearch)
            {
                <SearchComponent></SearchComponent>
            }

        </div>
    </div>
</nav>

@code {
    public bool ShowSearch { get; set; }
    public bool ShowSearchIcon { get; set; } = true;
    void SearchClicked()
    {
        ShowSearch = true;
        ShowSearchIcon = !ShowSearch;
    }

}